$base-color: #1c1c1c
$text-color: #fcfaf2
$time-color: #828282
$myname-color: #f7d94c
$name-color: #86c166
$highlight-color: #f596aa
$link-color: #58B2dc

html
  background-color: $base-color
  color: $text-color
  font-family: 'Monaco', monospace
  font-size: 9pt

body
  margin: 0
  padding: 0

.line
  .time
    color: $time-color
  .sender
    color: $name-color
    &[type=myself]
      color: $myname-color
  .place
    color: $name-color
  .highlight
    color: $highlight-color
    font-weight: normal
  .url
    color: $link-color

.message
  &[type=system],
  &[type=reply]
    color: $text-color
