html {
  background-color: #1c1c1c;
  color: #fcfaf2;
  font-family: "Monaco", monospace;
  font-size: 9pt; }

body {
  margin: 0;
  padding: 0; }

.line .time {
  color: #828282; }
.line .sender {
  color: #86c166; }
  .line .sender[type=myself] {
    color: #f7d94c; }
.line .place {
  color: #86c166; }
.line .highlight {
  color: #f596aa;
  font-weight: normal; }
.line .url {
  color: #58b2dc; }

.message[type=system], .message[type=reply] {
  color: #fcfaf2; }
