html {
  background-color: #1c1c1c;
  color: #fcfaf2;
  font-family: "Monaco", monospace;
  font-size: 9pt; }

body {
  margin: 0;
  padding: 0; }

.line .time,
.line .place,
.line .sender,
.line .url {
  color: #fcfaf2; }

.message[type=system], .message[type=reply] {
  color: #fcfaf2; }
